@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--global-font);
  user-select: none;
}
:root {
  --white: #fff;
  --black: #000;
  --max-width: 1270px;
  --button-background: #35452B;
  --button-hover-background: #727D6B;
  --learn-more-button: #1E2203;
  --features-background: #768350;
  --plan-background: #E9E7DE;
  --plan-heading-color: #1E2203;
  --plan-button-color: #35452B;
  --plan-button-hover-color: #EEF0E9;
  --plan-price-color: #1E2203;
  --faq-background: #C7B090;
  --global-font: "Cabin", sans-serif;
  --footer-border-color: #D9D9D9;
  --home-explore: #313638;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}