.FAQ__section {
  background-color: var(--faq-background);
  padding: 60px;
  > .container {
    display: flex;
    justify-content: space-between;
    > aside {
        width: 40%;
      > h1 {
        margin: 10px 0 25px;
        font-size: 2.2rem;
        line-height: 50px;
        font-weight: 400;
      }
    }
    > article {
      width: 140%;
      > ul {
        > div {
          display: flex;
          flex-direction: column;
          > li {
            list-style-type: none;
            &:nth-child(odd) {
              font-weight: 900;
              font-size: 1.2rem;
            }
            &:nth-child(even) {
              margin: 20px 0;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}