@import url('https://fonts.cdnfonts.com/css/thea-amelia');
@mixin radius {
    border-radius: 20px;
}
.special-offers {
  background-color: #F5FBFF;
  padding: 70px 0px;
  margin-top: -4px;
  > .container {
  > .special-offers-headings {
    text-align: center;
  }
  > .offers {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    > .first-offer {
      width: 30%;
      height: 300px;
      @include radius;
      position: relative;
      > img {
        width: 100%;
        height: 100%;
        @include radius;
      }
      > .offer-info {
        position: absolute;
        width: 70%;
        top: 15%;
        left: 15%;
        > h2 {
          color: #F5FBFF;
          font-size: 2.5rem;
          font-weight: 900;
        }
        > h4 {
          font-size: 1.2rem;
          font-weight: 900;
          color: #152238;
        }
        > a {
          max-width: 70%;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 20px;
          margin: 20px 0;
          border-radius: 5px;
          transition: background-color 400ms ease 0s;
          color: #152238;
          font-weight: 900;
          background-color: #f5fbffa6;
        }
        > a.first-offer-button {
            &:hover {
            background-color: #F5FBFF;
          }
        }
        > a.second-offer-button {
            color: #F5FBFF;
            background-color: #2e98eea6;
            &:hover {
              background-color: #2e98ee;
            }
        }
        > a.third-offer-button {
            background-color: #ffcc5fa6;
            &:hover {
              background-color: #ffcc5f;
            }
        }
      }
    }
  }
  }
}