@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cham:wght@100..900&display=swap');

.home-section {
    position: relative;
  > .home-top-back-image {
    position: relative;
    > img {
      width: 100%;
    }
  }
}