.overview__first__section {
  padding-top: 200px;
   > .container {
    text-align: center;
    > .heading > h1 {
        font-size: 50px;
    }
    > .learn__more {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      gap: 20px;
      > a {
        padding: 8px 20px;
        text-decoration: none;
        border-radius: 15px;
        cursor: text;
        &:nth-child(1) {
          color: var(--white);
          transition: all 200ms ease 0s;
          background-color: var(--button-background);
          &:hover {
              background-color: var(--button-hover-background);
          }
        }
        &:nth-child(2) {
          color: var(--learn-more-button);
          display: flex;
          align-items: center;
          gap: 10px;
          transition: all 200ms ease 0s;
          font-weight: 700;
          &:hover {
              color: var(--button-hover-background);
          }
        }
      }
    }
   }
}