header {
  padding: 24px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white);
   > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > nav > ul {
        display: flex;
        > li {
          list-style-type: none;
          margin: 0 18px;
        }
      }
      > .auth-buttons {
          margin-right: 10px;
          > button {
            padding: 8px 20px;
            border: none;
            outline: none;
            border-radius: 16px;
            margin: 0 10px;
            font-weight: bold;
            font-size: 15px;
            &:nth-child(1) {
              background: none;
            }
            &:nth-child(2) {
                background-color: var(--button-background);
                color: #fff;
                transition: all 200ms ease 0s;
                &:hover {
                  background-color: var(--button-hover-background);
                }
            }
          }
      }
   }
}