header {
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #F5FBFF;
  z-index: 2;
   > .header-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > .logo {
        margin-left: 20px;
        > h1 {
          color: var(--home-explore);
          cursor: pointer;
        }
      }
      > nav {
        margin-left: 130px;
        > ul {
          display: flex;
          > li {
            list-style-type: none;
            margin: 0 18px;
            color: var(--home-explore);
            cursor: pointer;
          }
        }
      }
      > .contact-auth-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        > span {
          display: flex;
        }
        > span:nth-child(1) {
          align-items: center;
          gap: 7px;
          padding-right: 10px;
          border-right: 1px solid var(--home-explore);
        }
        > span:nth-child(2) {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .langs {
        font-weight: 200;
        position: relative;
          color: var(--home-explore);
        > span.default-lang {
          font-size: 1.1rem;
          padding: 4px 20px 4px 8px;
          color: var(--home-explore);
          cursor: pointer;
        }
        &:hover span {
          color: var(--button-hover-background);
        }
        > .hidden-langs {
          position: absolute;
          list-style: none;
          gap: 5px;
          border-left: 4px solid var(--plan-button-color);
          border-radius: 5px 0 10px 5px;
          transform: translateY(66px)!important;
          opacity: 0;
          transition: all .2s;
          z-index: -2;
          visibility: hidden;
          background-color: var(--home-explore);
          padding: 5px 10px 10px;
          > li {
            list-style-type: none;
            font-size: 1.2rem;
            color: var(--home-explore);
            cursor: pointer;
            transition: all .2s;
            color: var(--white);
            margin: 5px 0;
            &:hover {
              color: var(--footer-border-color);
            }
          }
        }
        &:hover .fadeup {
          transform: translateY(5px)!important;
          opacity: 1;
          visibility: visible;
          z-index: 1;
          transition: all .3s;
        }
      }
   }
}
