.why-choose-us {
  padding: 70px 30px;
  background-color: var(--home-section-background);
  &-headings {
    text-align: center;
  }
  &-map {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 100px;
  }
}