.home-order-form {
    width: 94%;
    position: absolute;
    left: 3%;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    > .destination-select, .guests-select {
      position: relative;
      min-width: 29%;
      > .direction, .guests-quantity {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        max-height: 90px;
        overflow: auto;
        border-radius: 15px;
      }
      > .direction, > .guests-quantity {
        transition: all 400ms ease 0s;
        > .direction-item, > .guests-quantity-item {
          padding: 10px;
          border-bottom: 1px solid #bbb;
          background-color: #F5FBFF;
          cursor: pointer;
          transition: all 400ms ease 0s;
        }
      }
    }
    .destinations {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    .date {
      min-width: 29%;
    }
    .destinations, .guests, .date {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 90px;
      gap: 10px;
      background-color: #F5FBFF;
      padding: 20px;
      > div.icon:first-child {
        > svg {
          font-size: 1.7rem;
        }
      }
      > div.icon:last-child {
        padding-top: 10px;
        padding-left: 10px;
        > svg {
          font-size: 1.5rem;
          cursor: pointer;
          transition: all 400ms ease 0s;
        }
      }
    }
    > div.date {
      position: relative;
      cursor: pointer;
      > div > .react-datepicker {
        position: absolute !important;
        top: -250px;
        right: 0;
      }
    }
    > div:nth-child(1) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-right: 2px solid var(--home-explore);
    }
    > div:nth-child(3) {
      border-left: 2px solid var(--home-explore);
    }
    > button {
      width: 13%;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 1rem;
      background-color: #F5FBFF;
      border-left: 2px solid var(--home-explore);
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      cursor: pointer;
      > svg {
        font-size: 1.5rem;
      }
    }
  }